@import "~bootstrap/scss/bootstrap";
@import "./Partials/constants";
@import "./Partials/custom";

body {
  background-image: url(../assets/images/background2.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: $main-brand;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main {
  opacity: 0.95;
  background-color: $dark-shade;
}

.drop {
  margin-top: 40vh;
}

.drop-med {
  margin-top: 30vh;
}

.drop-small {
  margin-top: 20vh;
}

//Landing Page

// .tagline{
//   justify-items: center;
// }

.links {
  color: $light-shade;
  font-size: 5vh;
  text-decoration: none;
}
.links:hover {
  color: $light-accent;
  text-decoration: underline;
}

// Bio Page
#profile-pic {
  justify-content: center;
  opacity: 1;
  border-radius: 25%;
  margin-right: 1vw;
}

.bio {
  text-align: justify;
}


//Portfolio
.card-override{
  color: $dark-shade;
  background-color: $light-shade;
}
